@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  font-family: "Poppins", sans-serif;
  color: #f4f1f1;
  overflow: hidden;
}

.logo {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.main-logo-link {
  text-decoration: none;
  color: #f4f1f1;
}

.heading-menu {
  display: flex;
  justify-content: space-between;
}

.first-heading {
  font-weight: 500;
  font-size: 28px;
  margin-left: 80px;
}

.second-heading {
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  margin-right: 40px;
  max-width: 300px;
}

.class-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 220px;
  margin-left: 160px; */
  flex: 1;
}

.class-container a {
  color: #f4f1f1;
  text-decoration: none;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 20px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.mail {
  color: #f4f1f1;
  text-decoration: none;
}
